torch
torchvision
torchmetrics
numpy

timm
einops
opencv-python
tqdm
torchprofile
scipy
torch-fidelity
diffusers
omegaconf
ipdb
wandb[media]
ray
torchdiffeq
imageio[ffmpeg]

huggingface-hub
transformers
onnx
onnxsim
onnxruntime


nibabel
h5py
omegaconf
diffusers[torch]
wandb
matplotlib
git+https://github.com/THUDM/ImageReward.git
